$color-gradient-top: rgba(6, 26, 53, 0.89);
$color-gradient-bottom: rgba(6, 26, 53, 0.658);



$font-size-top-nav: 1.4rem;
$font-size-bottom-nav: 1.6rem;

$font-size-header-big: 2.2rem;
$font-size-header-small: 1.4rem;
$font-size-reg: 1.4rem;
$font-size-small: 1.2rem;
 

$font-weight-top-nav: 300;
$font-weight-bottom-nav: 500;

$font-weight-content-header: 500;

$letter-spacing-top-nav: none;
$letter-spacing-bottom-nav: none;

$padding-between-top-nav: 2rem;
$padding-between-bottom-nav: 5rem;

$color-nav: $color-text-strong-invert;

